#image-container {
    flex-grow: 1;    /* Take up remaining space */
    flex-shrink: 1;  /* Shrink if the header is tall */
    min-height: 0;   /* Fixes a Flexbox quirk to allow shrinking */
    
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 100%;  /* Constrain to parent */
    padding: var(--space-s-l);
    box-sizing: border-box;
    overflow: hidden;
}

.media-stack {
  display: grid;
  /* 'stack' will take the size of the largest visible content */
  grid-template-areas: "stack"; 
}

.media-stack img {
  grid-area: stack;
  display: block;
  width: 100%; /* Fill the container width */
  height: auto;
  max-height: min(80vh, 100%);  /* Constrain to parent or 80vh, whichever is smaller */
  max-width: 100%;
  object-fit: contain;
  /* This ensures the image has a placeholder space while loading */
  aspect-ratio: attr(width) / attr(height); 
}

#overlay {
  grid-area: stack;
  z-index: 5;
  pointer-events: none;
  
  /* FORCE the overlay to fill the area carved out by the image */
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: var(--grid-columns);
  grid-template-rows: var(--grid-rows);
}

#image-container .media-stack #overlay .dot {
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-container .media-stack #overlay .dot::after {
    width: 75%; 
    height: 50%;
    background-color: var(--dot-color);
    opacity: var(--dot-opacity);
    transition: all 0.3s ease;
    /* border-radius: 50%; */
}

#image-container .media-stack #overlay .dot.visible::after {
    content: ""; 
}

#image-container #caption {
    margin-top: .5em;
}
