#thecode {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thecode-container {
    container-type: inline-size;
    width: 100%;
    max-width: 800px;
}

.card {
    background: var(--surface);
    padding: var(--space-s-l);
    border-radius: 24px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    min-height: 320px;
    position: relative;
}


