#image-container {
    flex-grow: 1;    /* Take up remaining space */
    flex-shrink: 1;  /* Shrink if the header is tall */
    min-height: 0;   /* Fixes a Flexbox quirk to allow shrinking */
    
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;   /* Optional: adds a gap so image doesn't touch screen edges */
    box-sizing: border-box;
}

#image-container .media-stack {
    position: relative;
    height: 100%; 
    max-width: 100%;
    max-height: 100%;
}

#image-container .media-stack img {
    max-width: 100%;
    max-height: 70vh;
    width: auto;
    height: auto;
    display: block;
}

#image-container .media-stack #overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: none;

    /* Grid setup */
    display: grid;
    grid-template-columns: var(--grid-columns);;
    grid-template-rows: var(--grid-rows);;
    /* background-color: rgba(0, 255, 0, 0.1); */
}

#image-container .media-stack #overlay .dot {
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-container .media-stack #overlay .dot::after {
    width: 75%; 
    height: 50%;
    background-color: var(--dot-color);
    opacity: var(--dot-opacity);
    transition: all 0.3s ease;
    /* border-radius: 50%; */
}

 #image-container .media-stack #overlay .dot.visible::after {
    content: ""; 
}

 #image-container #caption {
     margin-top: .5em;
 }
